/* I am just copying the CSS file used by the lecturer Charlie Daly http://polya.computing.dcu.ie/ca165/css/ca165.css */

BODY {
	font-family: Georgia, "Times New Roman", times, serif;
	background-color: white;
	color: #115;
	text-align:justify;
	text-indent:0%;
	margin-left: 2.5%;
	margin-right: 2.5%
}

TT { font-family: "Courier new", "courier"; font-weight: bold; /*font-size: 1.1 em;*/ color: black;}
SPAN.gloss { background-color: #fff; color: #1d1; } /* Background to make glossary item stand out */

/* ul { list-style-image: url(http://www.foo.com/bullet.gif) }  A graphic for list items! */

LI { line-height: 1.3}  /* Normal links are just far too close. */

td, th { empty-cells: show }

A:link { text-decoration:none; }
A:visited { text-decoration:none; }
A:active { text-decoration:none; }
A:hover { text-decoration:none; background-color:#eee;}

/* The following taken from 
http://www.blooberry.com/indexdot/css/properties/generate/quotes.htm
*/
blockquote[lang-=fr] { quotes: "\201C" "\201D" }
blockquote[lang-=en] { quotes: "\00AB" "\00BB" }
blockquote:before { content: open-quote }
blockquote:after { content: close-quote }
blockquote { background:#dde;
	font-style:italic;
	padding-left:10pt; padding-right:10pt;
}