project:
  type: website

format:
  html:
    include-in-header:
      text: |
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline' https://cdn.jsdelivr.net; object-src 'none';">
    filters:
      - webr